USE [EmployeeManagementSystemTriggers]
GO
/****** Object:  Trigger [dbo].[trg_AfterSalaryUpdate]    Script Date: 23-06-2026 08:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[trg_AfterSalaryUpdate]
ON [dbo].[Employees]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(Salary)
    BEGIN
        PRINT 'A Salary Update has been logged successfully!';
        INSERT INTO EmployeeChanges (EmployeeID, OldSalary, NewSalary)
        SELECT 
            i.EmployeeID, 
            d.Salary AS OldSalary, 
            i.Salary AS NewSalary
        FROM inserted i
        JOIN deleted d ON i.EmployeeID = d.EmployeeID;
    END
END;
